<%= form_with model: [posts, post_comment], local: false do |f| %>
  <div>
    <%= f.text_area :comment, rows:'5', placeholder: "コメントをここに", class: "w-100" %>
  </div>
  <div class="text-right">
    <%= f.submit "コメントする", class: "btn btn-sm btn-success" %>
  </div>
<% end %>